[Unit]
Description=Kafka
Documentation=https://kafka.apache.org/
After=network.target

[Service]
User={{ confluent_user }}
ExecStart={{ confluent_dir }}/{{ confluent_bin_dir }}/kafka-server-start {{ confluent_dir }}/{{ confluent_kafka_conf_dir }}/{{ confluent_kafka_conf_file }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
